<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http auto-config="true">
        <intercept-url pattern="/admin**" access="ROLE_USER"/>
        <form-login login-page="/login" authentication-failure-handler-ref="appAuthenErrorHandle" authentication-success-handler-ref="appAuthenSucessHandle"/>
    </http>
    <beans:bean id="appAuthenErrorHandle" class="com.tour.web.security.ApplicationAuthenticationFailureHandler">

    </beans:bean>
    <beans:bean id="appAuthenSucessHandle" class="com.tour.web.security.ApplicationAuthenticationSuccesHandle">

    </beans:bean>
    <beans:bean id="myUserDetailsService"
          class="com.tour.web.security.UserDetail">
    </beans:bean>

    <authentication-manager>
        <authentication-provider user-service-ref="myUserDetailsService">

        </authentication-provider>
    </authentication-manager>

</beans:beans>